jenkins.json
{
  "name": "jenkins",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "90da5621-82a5-4835-ac75-6c91a22f140e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1248,
        1760
      ],
      "id": "2bad922e-b779-4bfa-8eb1-90ccfacd6430",
      "name": "Webhook",
      "webhookId": "90da5621-82a5-4835-ac75-6c91a22f140e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e55e3e6-3cfd-4cad-a826-b3e7860e80dc",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1056,
        1760
      ],
      "id": "8ecf60b3-8516-4570-a7d4-58a467a8a44e",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Autonomous Jenkins & CI/CD Analysis Agent operating inside an n8n workflow. You have expert-level knowledge of Jenkins pipelines, CI/CD systems, build agents, plugins, Docker, Kubernetes, and Linux environments.\n\nYour task is to help me analyze failed Jenkins job logs and return a fully machine-consumable root-cause analysis that can be reliably parsed, stored, branched on, or sent to downstream n8n nodes (Slack, Jira, GitHub Issues, remediation workflows).\n\n---\n### Critical Execution Constraints\n1. Output MUST be valid JSON only — no markdown, no commentary, no backticks, no explanations outside JSON.\n2. The JSON must be deterministic and schema-stable (no optional keys, no dynamic fields).\n3. Assume your output will be parsed by strict JSON parsers and used in conditional logic.\n4. Never include trailing commas, comments, or extra text.\n\n---\n### Analysis Requirements\n- Identify each distinct failure in the logs (do not merge unrelated issues).\n- Extract the exact failing log line or most critical excerpt verbatim.\n- Explain the issue using standard Jenkins / CI-CD terminology.\n- Evaluate multiple potential causes internally, then select the single most likely root cause based on evidence.\n- Propose the most definitive, production-proven fix used in real Jenkins environments.\n\n---\n### Behavioral Rules\n- Do NOT hallucinate errors that are not present in the logs.\n- Do NOT return partial JSON objects.\n- If only one issue exists, still return an array with one object.\n- Prefer actionable fixes that can be automated or scripted.\n\n--!!! VERY IMPORTANT !!!**: (MANDATORY TOOL FLOW)\n  - DO NOT SKIP A STEP\n  - FOLLOW THE ORDER OF STEPS\n1. Use the \"Get Repo Information\" Tool (one time execution) to fetch the Jenkins job configuration, this request tool will return the XML configuration of the job.\n\n2. From the XML configiration, extract and analyze only what is inside the <url>...</url> tags to determine:\n  - GitHub repository Name\n  - GitHub Repository Owner\n\n3. Use the extracted repository Name and Owner to create a url with the following format:\n\"https://raw.githubusercontent.com/<repository-Owner>/<repository-Name>/main/jenkinsfile\"\n\n4. Pass the generated url to the \"Get jenkinsfile contents\" Tool. this tool will return the full original pipline syntax.\n\n5. Use the pipline syntax returned from the \"Get jenkinsfile contents\" Tool  as the authoritative pipeline syntax reference whic you will use as a base for youre fix.\n\nNOTE: the logs are actually coming from the pipeline returned from the \"Get jenkinsfile contents\" Tool (its the original erroneous pipeline).\n\n---\n### Mandatory JSON Schema (DO NOT MODIFY)\nThe top-level output MUST be an array. Each element MUST follow this exact structure:\n\n## EXAMPLE:\n\n{\n  \"error\": \"The actual, exact error line or most critical log excerpt from the provided logs.\",\n  \"explanation\": {\n    \"definition\": \"A clear, concise definition of this specific error or issue (e.g., definition of 'OOM Killer' or 'Permission Denied').\",\n    \"possible_causes\": [\n      \"Cause 1 (e.g., Insufficient Memory)\",\n      \"Cause 2 (e.g., Incorrect Configuration Variable)\",\n      \"Cause 3 (e.g., Dependency Mismatch)\"\n    ]\n  },\n  \"suggested_solution\": {\n    \"summary\": \"The single best, most definitive, and research-backed solution to fix this specific problem.\",\n    \"fix_instructions\": [ \n      \"insteuction 1 (e.g.,  Locate the Jenkinsfile or the Pipeline script for the job) \",\n      \"insteuction 2 (e.g.,  address the security warning by avoiding Groovy interpolation for secrets) \",\n      \"insteuction 3 (e.g.,  Correct the typographical error) \"\n    ],\n    \"corrected_pipeline\":\"this containes youre attempt of fixing the pipeline, use jenkins pipeline syntax from the 'Get jenkins file contents' Tool to get the original pipeline syntax than put youre correct version here. You must produce the full fixed pipeline.\" \n  }\n}\n\n--!!! VERY IMPORTANT !!!** : (\"corrected_pipeline\")\n - Do not change any present credential names or environment varibles (e.g., credentialsId, variable).\n - if a command is causing the erorr, find the most likley command that looks like it (same charecters). it probably the fix (e.g., cho => echo, ch => sh, ...)\n\n---\nNow analyze the Jenkins job logs provided below and return ONLY the JSON array defined above.\n\n{{ $json.data }}\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -592,
        1552
      ],
      "id": "0f24b71b-87c8-4c0c-8fab-6cd73516e02f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"error\": \"The actual, exact error line or most critical log excerpt from the provided logs.\",\n  \"explanation\": {\n    \"definition\": \"A clear, concise definition of this specific error or issue (e.g., definition of 'OOM Killer' or 'Permission Denied').\",\n    \"possible_causes\": [\n      \"Cause 1 (e.g., Insufficient Memory)\",\n      \"Cause 2 (e.g., Incorrect Configuration Variable)\",\n      \"Cause 3 (e.g., Dependency Mismatch)\"\n    ]\n  },\n  \"suggested_solution\": {\n    \"summary\": \"The single best, most definitive, and research-backed solution to fix this specific problem.\",\n    \"fix_instructions\": [ \n      \"insteuction 1 (e.g.,  Locate the Jenkinsfile or the Pipeline script for the job) \",\n      \"insteuction 2 (e.g.,  address the security warning by avoiding Groovy interpolation for secrets) \",\n      \"insteuction 3 (e.g.,  Correct the typographical error) \"\n    ],\n    \"corrected_pipeline\":\"this containes youre attempt of fixing the pipeline, use jenkins pipeline syntax from the 'Get jenkins file contents' Tool to get the original pipeline syntax than put youre correct version here. You must produce the full fixed pipeline.\" \n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -96,
        1984
      ],
      "id": "2ee6592d-0f65-4a5f-a995-544e2a048212",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -240,
        1776
      ],
      "id": "0129a4c4-9a0e-4b0e-be69-4456c1aad689",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -656,
        1776
      ],
      "id": "32019cc1-4d4c-4785-b1c7-84c11c09e8f8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "FhwtNZ6vXljgnvTO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#pipelines-status",
          "mode": "name"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🚨 Jenkins Pipeline Error \\n\\n🚀 JobName: '{{ $('If').item.json.body.name }}'  ---  BuildNumber: '{{ $('If').item.json.body.build.number }}'\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Error:*\\n{{ $json.output.error.replace(/\"/g,'\\\\\"') }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Definition:*\\n{{ $json.output.explanation.definition }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Possible Causes*:\\n{{ $json.output.explanation.possible_causes.map(item => `- ${item.replace(/\"/g,'\\\\\"')}`).join(\"\\\\n\")}}\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"⚙️ *Troubleshooting:*\\n{{ $json.output.suggested_solution.summary }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Fix Instructions:*\\n{{ $json.output.suggested_solution.fix_instructions.map((item,index) => `${index+1}. ${item.replace(/\"/g,'\\\\\"')}`).join('\\\\n') }}\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    \t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"🤖 *Suggested Solution:*\\n\"\n\t\t\t}\n\t},\n    {\n    \"type\": \"rich_text\", \n    \"elements\": [\n      {\n        \"type\": \"rich_text_preformatted\",\n        \"elements\": [\n            {\n              \"type\": \"text\",\n              \"text\":\"{{ $json.output.suggested_solution.corrected_pipeline.replace(/\\\\\"/g, '\"').replace(/\"/g,'\\\\\"').replace(/\\n/g, '\\\\n').replace(/\\\\\\\\/g,'\\\\\\\\ \\\\') }}\\n\"\n            }\n          ]\n        }\n      ]\n    },\n\t\t{\n\t\t\t\"type\": \"divider\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Do you want to apply these changes ?\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"button\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Apply Changes\",\n\t\t\t\t\t\"emoji\": true\n\t\t\t\t},\n\t\t\t\t\"value\": \"{{ $('If').item.json.body.name }}|{{ $('If').item.json.body.build.number }}|{{ $('If').item.json.body.build.full_url }} \",\n\t\t\t\t\"action_id\": \"apply_fix_button\"\n\t\t\t}\n\t\t}\n  ]\n}\n",
        "text": "=\n",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -160,
        1552
      ],
      "id": "f3363d24-af1a-4e42-95c8-2056b8581b96",
      "name": "Error Description",
      "webhookId": "95c4de2b-c673-48a0-a9f8-63c92e10f72f",
      "credentials": {
        "slackApi": {
          "id": "x4dk4yrw9rvxRRFH",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e1ca009d-78b0-43ae-b92e-2925e05bb03c",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        2304
      ],
      "id": "32514fe0-bf83-466e-80fa-aeae6217a8cf",
      "name": "Webhook1",
      "webhookId": "e1ca009d-78b0-43ae-b92e-2925e05bb03c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e55e3e6-3cfd-4cad-a826-b3e7860e80dc",
              "leftValue": "={{ $json.action }}",
              "rightValue": "apply_fix_button",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        2304
      ],
      "id": "cbafb27e-3426-4c5b-aedf-17d6e3c197e7",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "hamdiz0",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/hamdiz0/jenkins-test",
          "mode": "url"
        },
        "filePath": "jenkinsfile",
        "fileContent": "={{ $('If1').item.json.fixedPipeline }}",
        "commitMessage": "=Upated the jenkins file from the failed build number {{ $('If1').item.json.buildNumber }} of the job named {{ $('If1').item.json.jobName }} "
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1024,
        2528
      ],
      "id": "29151884-d248-4650-b9bd-6b943d5a133d",
      "name": "Edit a file",
      "webhookId": "bc7aff74-692b-425c-9c1d-6fed28309276",
      "credentials": {
        "githubApi": {
          "id": "deWLrSAd8ZiL2VzG",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "job": "={{ $('If1').item.json.jobName }}"
      },
      "type": "n8n-nodes-base.jenkins",
      "typeVersion": 1,
      "position": [
        -688,
        2528
      ],
      "id": "eab8c4bb-3cdd-4c8c-b2ab-046a3842da4c",
      "name": "Trigger a job",
      "credentials": {
        "jenkinsApi": {
          "id": "PPfOPQ6oZtz204Ur",
          "name": "Jenkins account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This Tool retrive the GitHub repository information (repo name, repo owner) from the jenkins XML job jonfiguration.",
        "url": "=http://192.168.1.14:8080/job/{{ $('If').item.json.body.name }}/config.xml",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -512,
        1776
      ],
      "id": "5e3a7d47-aab8-41e9-a98f-d75b68ef091b",
      "name": "Get Repo Information",
      "credentials": {
        "httpBasicAuth": {
          "id": "q9x1sMDKrLQNKGX9",
          "name": "jenkins-api"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -384,
        1776
      ],
      "id": "7f3b3391-377a-4eee-947b-d1a33c5e86a5",
      "name": "Get jenkins file contents",
      "credentials": {
        "httpBasicAuth": {
          "id": "Nnod0K1XW01cgCTa",
          "name": "Github PAT"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pipeline Analysis and Slack Notification",
        "height": 672,
        "width": 1408,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        1488
      ],
      "typeVersion": 1,
      "id": "7a910221-c7a3-44ac-bded-8bd53b552991",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Handeling Slack Interactivity",
        "height": 608,
        "width": 1408,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        2192
      ],
      "typeVersion": 1,
      "id": "88e8308d-6e72-4b91-aefe-55d2fb76e843",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "url": "=http://192.168.1.14:8080/job/{{ $json.body.name }}/{{ $json.body.build.number }}/consoleText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "String"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        1776
      ],
      "id": "b8ab0f02-37a8-408c-b582-1f5cf18df2b7",
      "name": "GET Pipeline Logs",
      "credentials": {
        "httpBasicAuth": {
          "id": "q9x1sMDKrLQNKGX9",
          "name": "jenkins-api"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-oss:120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -272,
        1984
      ],
      "id": "2a6aea2a-cb17-46c4-9be9-271af950d473",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Ic6wEz1vwBcS8uqs",
          "name": "Remote Ollama"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body.payload;\nconst data = JSON.parse(payload);\n\nconst pipelineFix = data.message.blocks.find(block => block.type === 'rich_text').elements[0].elements[0].text\nconst jobName = data.actions[0].value.split(\"|\")[0]\nconst buildNumber = data.actions[0].value.split(\"|\")[1]\nconst buildUrl = data.actions[0].value.split(\"|\")[2]\n\nreturn [{ \n  json: {\n    fixedPipeline: pipelineFix,\n    action: data.actions[0].action_id,\n    jobName: jobName,\n    buildNumber: buildNumber,\n    responseUrl: data.response_url,\n    buildUrl: buildUrl\n  }\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        2304
      ],
      "id": "ec790672-d755-4602-8e45-5fdb7d565df4",
      "name": "Handle WebHook Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⏳ Applying fix to build #{{ $json.buildNumber }}...\",\n  \"replace_original\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        2288
      ],
      "id": "97136a30-d906-462f-a3c0-5549708e3853",
      "name": "Fix Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('If1').item.json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*✅ Fix successfully applied to Build* #{{ $('If1').item.json.buildNumber }}\\n---\\n*🚀 Build* #{{ parseInt($('If1').item.json.buildNumber) + 1 }} Triggered \"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"View jenkinsfile\"\n          },\n          \"url\": \"{{ $('Edit a file').item.json.content.html_url }}\",\n          \"action_id\": \"button-action-1\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"View Build Status\"\n          },\n          \"url\": \"{{ $('If1').item.json.buildUrl.slice( 0, -4 ) }}{{ parseInt($('If1').item.json.buildNumber) + 1 }}\",\n          \"action_id\": \"button-action-2\"\n        }\n      ]\n    }\n\n  ],\n\"replace_original\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        2528
      ],
      "id": "b0b29825-7661-4274-b9e4-42293d539d1a",
      "name": "Build Trigger Message"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hamdiz.share.zrok.io",
            "user-agent": "Java/21.0.9",
            "content-length": "374",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "authorization": "Basic amVua2luc19uOG5fd2ViaG9vazpqZW5raW5zX244bl93ZWJob29r",
            "content-type": "application/json;charset=UTF-8",
            "x-amzn-trace-id": "Root=1-694f3c24-5aba5a875126efbe2340d715",
            "x-forwarded-for": "102.157.240.56, 10.32.0.221",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-proxy": "zrok"
          },
          "params": {},
          "query": {},
          "body": {
            "name": "n8n-webhook-test",
            "display_name": "n8n-webhook-test",
            "url": "job/n8n-webhook-test/",
            "build": {
              "full_url": "http://192.168.1.14:8080/job/n8n-webhook-test/42/",
              "number": 42,
              "queue_id": 60,
              "timestamp": 1766800421322,
              "duration": 2449,
              "phase": "COMPLETED",
              "status": "FAILURE",
              "url": "job/n8n-webhook-test/42/",
              "scm": {
                "changes": [],
                "culprits": []
              },
              "log": "",
              "notes": "",
              "artifacts": {}
            }
          },
          "webhookUrl": "http://localhost:5678/webhook-test/90da5621-82a5-4835-ac75-6c91a22f140e",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": {
            "error": "java.lang.NoSuchMethodError: No such DSL method 'cho' found among steps [...]",
            "explanation": {
              "definition": "The pipeline attempted to invoke a step named 'cho', which does not exist in Jenkins' DSL, resulting in a NoSuchMethodError.",
              "possible_causes": [
                "Typographical error in the Jenkinsfile (e.g., 'cho' instead of 'sh')",
                "Missing plugin that provides the custom step",
                "Incorrect script sandbox approval for a custom step"
              ]
            },
            "suggested_solution": {
              "summary": "Correct the typo by replacing the nonexistent 'cho' step with the valid 'sh' step in the Jenkinsfile.",
              "fix_instructions": [
                "Open the Jenkinsfile in the repository.",
                "Locate the line using the 'cho' step (e.g., cho \"echo hello world\").",
                "Replace 'cho' with 'sh' to correctly execute a shell command.",
                "Commit the change and push to the main branch.",
                "Trigger a new build to verify the pipeline runs successfully."
              ],
              "corrected_pipeline": "pipeline {\n    agent any\n\n    stages {\n        stage('Hello') {\n            steps {\n                sh \"echo hello world\"\n            }\n        }\n    }\n}"
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "GET Pipeline Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Error Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Handle WebHook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Fix Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Trigger a job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger a job": {
      "main": [
        [
          {
            "node": "Build Trigger Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repo Information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get jenkins file contents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET Pipeline Logs": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Handle WebHook Data": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Message": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ec59701-b53d-4308-833f-9805b668f66f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9378fe83c5e0ef9669a0e54ec7fa2b592c63e79100b1de244609494cdd6915e3"
  },
  "id": "PlSMzZRf1piud5uM",
  "tags": []
}